<div class= "name">
  <h1><strong>Welcome to BrainFood</strong></h1>
</div>

<p class="lead">
  A place to collect food for thought.
</p>

<div class="nested_container">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://assets.keap.com/image/upload/c_scale,w_600/v1539263284/How%20and%20Why%20to%20Encourage%20Personal%20Growth%20Within%20Your%20Business/GettyImages-687209536.jpg">
    </div>
    <div class="col-sm-6">
      <div class="nest_contain">
        <div class="sm_contain">
          <em>READ</em> articles.
        </div>
        <div class="sm_contain">
          <em>LISTEN</em> to podcasts.
        </div>
        <div class="sm_contain">
          <em>WATCH</em> videos.
        </div>
      </div>
    </div>
  </div>
</div>
