<div class= "page_heading">
  <h1><strong>Articles</strong></h1>
</div>

<table class="table">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Date Created</th>
      <th scope="col">Link</th>
    </tr>
  <tbody>
    <tr>
      <td>Getting Started with Bootstraps</td>
      <td>Bootstrap</td>
      <td>N/A</td>
      <td><a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Link</a></td>
    </tr>
    <tr>
      <td>CSS Color Palletts</td>
      <td>She Codes: Coding Tools</td>
      <td>N/A</td>
      <td><a href="https://palettes.shecodes.io/">Link</a></td>
    </tr>
  
  </tbody>
</table>
