<div class= "page_heading">
  <h1><strong>Videos</strong></h1>
</div>

<table class="table">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Creator</th>
      <th scope="col">Date Created</th>
      <th scope="col">Link</th>
    </tr>
  <tbody>
    <tr>
      <td>Millionaire Explains: My Process for Setting Goals</td>
      <td>Rose Han</td>
      <td>July 2023</td>
      <td><a href="https://youtu.be/p2LT9wlmjPQ">YouTube</a></td>
    </tr>
    <tr>
      <td>How I Organize My Life Using Notion</td>
      <td>UnJaded Jade</td>
      <td>September 2020</td>
      <td><a href="https://youtu.be/67jFfjwUvRQ">YouTube</a></td>
    </tr>
    <tr>
      <td>How to Figure Out What You Really Want</td>
      <td>TEDx Talks</td>
      <td>June 2019</td>
      <td><a href="https://youtu.be/bRtBHF-WPpM">YouTube</a></td>
    </tr>
    <tr>
      <td>Coding: Raghu Betina</td>
      <td>TEDx Talks</td>
      <td>May 2012</td>
      <td><a href="https://youtu.be/rtl9QG4qe6g">YouTube</a></td>
    </tr>
  </tbody>
</table>
