<div class= "page_heading">
  <h1><strong>Podcasts</strong></h1>
</div>

<table class="table">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Host</th>
      <th scope="col">Date Created</th>
      <th scope="col">Link</th>
    </tr>
  <tbody>
    <tr>
      <td>Twilio: Jeff Lawson</td>
      <td>How I Built This</td>
      <td>April 2023</td>
      <td><a href="https://open.spotify.com/episode/7F9msVlb8mIa2Xb1V6OGuj?si=44a7085b0ee94c06">Spotify</a></td>
    </tr>
    <tr>
      <td>5 Mindsets to Build Self Confidence</td>
      <td>On Purpose</td>
      <td>August 2022</td>
      <td><a href="https://open.spotify.com/episode/6bpEcCqzjc9If1SVuWM2ue?si=4cc4ca014d0547fd">Spotify</td>
    </tr>
    <tr>
      <td>The Science of Motivation</td>
      <td>One Percent Happier</td>
      <td>November 2022</td>
      <td><a href="https://open.spotify.com/episode/6bC7CbDZuqQOfarc7PHMMr?si=b58730ccbcd34048">Spotify</a></td>
    </tr>
  </tbody>
</table>
